.details-wrapper {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    img {
        max-width: 40%;
        border-radius: 0.5rem;
    }

    .movie-data {
        width: 60%;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
            text-align: justify;
        }
    }
}